<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <h1> Gallery </h1>

        <div class="content">
            <img src="/images/homer3.jpg" alt="">
            <img src="/images/homer5.jpg" alt="">
            <img src="/images/homer4.jpg" alt="">
            <img src="/images/homer6.jpg" alt="">
        </div>
        <div class="content">
            <img src="/images/homer7.jpg" alt="">
            <img src="/images/homer8.jpg" alt="">
            <img src="/images/homer9.jpg" alt="">
            <img src="/images/homer10.jpg" alt="">
        </div>
    </div>

</body>

</html>