<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <h1>Works</h1>
        <div class="content">
            <p class="text"> Homer Jay Simpson in most episodes, works as the nuclear safety inspector at the
                Springfield Nuclear Power Plant, a position which, whilst being wholly unsuitable for, he has held since
                "Homer's Odyssey", the third episode of the series.At the nuclear plant, Homer is often ignored and
                completely forgotten by his boss Mr. Burns, and he constantly falls asleep and neglects his duties. Matt
                Groening has stated that he decided to have Homer work at the power plant because of the potential for
                Homer to wreak severe havoc. Each of his other jobs has lasted only one episode. In the first half of
                the series, the writers developed an explanation about how he got fired from the plant and was then
                rehired in every episode. In later episodes, he often began a new job on impulse, without any mention of
                his regular employment.</p>
        </div>
    </div>
</body>

</html>